
# Python Practice Notebook

This notebook contains a series of exercises designed to reinforce and challenge your understanding of Python basics, including:

- Object Types
- Numbers
- Variable Assignment
- Strings and Their Methods
- String Formatting
- Lists and Their Methods
- Dictionaries

Each section contains problems of varying difficulty, from basic repetition to advanced challenges. Good luck!


### Create a list containing different types of objects (integer, string, float, boolean, dictionary). 
2. Write a loop to print out each item's type.

In [24]:
#2 intermediate exercise

crazy_list = [120, 120.0, 'henry', ['a', 'b', 'c'], ('a', 'b', 'c'), {'k1': 'apple'}, {1, 2, 3}, frozenset('abc'), True, range(0, 20, 2)]

counter = 0
for crazy in crazy_list:
    print(f'{crazy_list[counter]} is a data object type {type(crazy)}')
    counter += 1

120 is a data object type <class 'int'>
120.0 is a data object type <class 'float'>
henry is a data object type <class 'str'>
['a', 'b', 'c'] is a data object type <class 'list'>
('a', 'b', 'c') is a data object type <class 'tuple'>
{'k1': 'apple'} is a data object type <class 'dict'>
{1, 2, 3} is a data object type <class 'set'>
frozenset({'c', 'a', 'b'}) is a data object type <class 'frozenset'>
True is a data object type <class 'bool'>
range(0, 20, 2) is a data object type <class 'range'>

### Advanced Challenge
3. Write a function `check_types(collection)` that takes a list and returns a dictionary where the keys are the types and the values are counts of how many times each type appears in the list.

In [30]:
# Exercise 3
'''Write a function `check_types(collection)` that takes a list and returns a
dictionary where the keys are the types and the values are counts of how many times each type appears in the list.
'''
####################################################################################################################################################################################
# Random Example Poisson Distributed List gpt generated.... 
random_list = [bytearray(b'byte array'), (3+4j), frozenset({10, 20, 30}), True, 
None, [0, 1, 2, 3, 4], 10, frozenset({10, 20, 30}), 3.14, True, None, 10, [0, 1, 2, 3, 4], 
None, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 42, frozenset({10, 20, 30}), 10, None, {8, 9, 7}, bytearray(b'byte array'), 
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10, 10, 10, None, [0, 1, 2, 3, 4], bytearray(b'byte array'), [0, 1, 2, 3, 4], [1, 2, 3], 
True, (4, 5, 6), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], bytearray(b'byte array'), bytearray(b'byte array'), 
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], {'key': 'value'}, (4, 5, 6), 10, frozenset({10, 20, 30}), [1, 2, 3], 'hello',
frozenset({10, 20, 30}), 42, (3+4j), [1, 2, 3], 'hello', True, frozenset({10, 20, 30}), None, 42, True,
frozenset({10, 20, 30}), {8, 9, 7}, {'key': 'value'}, 'hello', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 
(4, 5, 6), (4, 5, 6), (3+4j), frozenset({10, 20, 30}), None, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 10,
True, None, None, frozenset({10, 20, 30}), None, (4, 5, 6), 'hello', 10, None, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
[1, 2, 3], frozenset({10, 20, 30}), True, frozenset({10, 20, 30}), 'hello', bytearray(b'byte array'), (4, 5, 6), True,
42, 10, True, None, [1, 2, 3], 3.14, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 3.14, 42, {8, 9, 7}, (3+4j), (4, 5, 6), frozenset({10, 20, 30}),
'hello', (4, 5, 6), (4, 5, 6), [1, 2, 3], 'hello', 3.14, None]

####################################################################################################################################################################################


def check_types(collection):

    thedictionary = {}

    for i in collection:

        obj_type_i = type(i).__name__

        if obj_type_i in thedictionary:
            thedictionary[obj_type_i] += 1
        else:
            thedictionary[obj_type_i] = 1

    return thedictionary


####################################################################################################################################################################################
        
check_types(random_list)

{'bytearray': 6,
 'complex': 4,
 'frozenset': 12,
 'bool': 9,
 'NoneType': 13,
 'list': 18,
 'int': 15,
 'float': 4,
 'set': 3,
 'tuple': 9,
 'dict': 2,
 'str': 7}

In [5]:
# Exercise 1

print(15 + 4 * 2)
print((15+4)*2)
print(15**2)
print(45/7)
print(45//7)
print(45 % 7)

23
38
225
6.428571428571429
6
3

### Intermediate Exercise
2. Write a function that takes two numbers and returns:
   - Their sum
   - Their difference
   - Their product
   - Their quotient

In [6]:
# Exercise 2
def calculator(x,y):

    print(f'The sum is {x+y}')
    if x >= y:
        print(f'The difference is {x-y}')
    else:
        print(f'The difference is {y-x}')
    print(f'Their product is {x*y}')
    if x>=y:
        print(f'The quotient is {x//y}')
    else:
        print(f'The quotient is {y//x}')

calculator(3,5)

The sum is 8
The difference is 2
Their product is 15
The quotient is 1

### Advanced Challenge
3. Write a function to compute the factorial of a number using a loop (without using recursion or built-in functions).

In [7]:
# Write a function to compute the factorial of a number using a loop (without using recursion or built-in functions).

# so say x = 3, if 3 > 1, then


def factorialiser(x):
    result = 1

    while x >= 1:
        result *= x
        x -= 1
    return result


for i in range(0,11):
    print(f'The factorial of {i} is {factorialiser(i)}')

The factorial of 0 is 1
The factorial of 1 is 1
The factorial of 2 is 2
The factorial of 3 is 6
The factorial of 4 is 24
The factorial of 5 is 120
The factorial of 6 is 720
The factorial of 7 is 5040
The factorial of 8 is 40320
The factorial of 9 is 362880
The factorial of 10 is 3628800

In [8]:
### 1. Assign the value `10` to a variable `a`, `20` to a variable `b`, and swap their values.

a = 10 
b = 20

a = b

b = 10

print(a)
print(b)

20
10

### Intermediate Exercise
2. Write a program that accepts user input for three variables and prints their sum, product, and average.

In [26]:
# 2. Write a program that accepts user input for three variables and prints their sum, product, and average.

num1 = int(input('Enter first number: '))

num2 = int(input('Enter second number: '))

num3 = int(input('Enter third number: '))


print(f'Their sum is {num1+num2+num3}')
print(f'Their product is {num1*num2*num3}')

print(f'Their average is {(num1*num2*num3)/(num1+num2+num3):.0f}')

Their sum is 80
Their product is 17986
Their average is 225

### Advanced Challenge
3. Create a variable that stores a list of numbers. Write a function that reassigns the variable to only contain even numbers.

In [1]:
''' 3. Create a variable that stores a list of numbers,
write a function that reassigns the variable to only contain even numbers.

Ir returns the number of even numbers, and repeats the function 1,000,000 times 
to give the average of "even amounts" from the even_partitiser function. 
Since the amount of even numbers would be close to 50 percent using randint 
after the law of large numbers (hundred thousand repetitions) it should get 
even closer to 50 percent average, the more the function is repeated  '''

from random import randint


def even_paritiser():
    ourlist = []

    for i in range(0,100):
        ourlist.append(randint(0,1000))

    if type(ourlist) == list:
        i = 0
        while i < len(ourlist):
            if type(ourlist[i]) == int:
                if ourlist[i] % 2 != 0:
                    ourlist.pop(i)
                    continue #if we popped it, then the index of the next one will get shifted -1 to be 0 again.. so we continue â€“ meaning we return to the while loop start again
                else:
                    i += 1

            elif type(ourlist[i]) == float:
                ourlist[i] = int(ourlist[i])
                if ourlist[i] % 2 != 0:
                    ourlist.pop(i)
                    continue
                else:
                    i += 1

            else:
                ourlist.pop(i)
                continue

    else:
        print(f'Oops, this is not a list. This is a {type(ourlist)}')
        
    
    return len(ourlist)




def montecarlo():
    
    averages = []
    for i in range(0,100000):
        result = even_paritiser()
        averages.append(result)

    
    average_number_of_evens = sum(averages) / len(averages)
    return average_number_of_evens

if montecarlo() > 49.95 and montecarlo() < 50.05:
    print('sucess')

sucess

 1. Assign a string `"Python Programming"` to a variable and:
   - Convert it to uppercase.
   - Convert it to lowercase.
   - Count occurrences of the letter `o`.

In [2]:
''' 1. Assign a string `"Python Programming"` to a variable and:
   - Convert it to uppercase.
   - Convert it to lowercase.
   - Count occurrences of the letter `o`. '''

ourstring = 'Python Programming'

print(ourstring.upper())
print(ourstring.lower())
ourstring.count('o')

PYTHON PROGRAMMING
python programming

2

### Intermediate Exercise
2. Write a function that checks if a given string is a palindrome.

In [3]:
# Intermediate Exercise
# Write a function that checks if a given string is a palindrome.
def palindrome(word):

    lowered = word.lower()

    mylist_original = list(lowered)
    mylist_to_reserve = list(lowered)
    mylist_to_reserve.reverse()

# We couldnt just reverse the list in its very own assignment as .reverse() returns NoneType

    mylist_reserved = mylist_to_reserve
    

    if mylist_original == mylist_reserved:
        print('The word "{}" is a palindrome'.format(word))
    else:
        print('The word "{}" is not a palindrome'.format(word))

    return



palindrome('otto')
palindrome('henry')

The word "otto" is a palindrome
The word "henry" is not a palindrome

### Advanced Challenge
3. Create a function that takes two strings and returns the longest common substring.

In [4]:
# Exercise 3. Create a function that takes two strings and returns the longest common substring.

def common(string1,string2):

    dp = []
    for i in range(len(string1) + 1):
        row = [0] * (len(string2) + 1)
        dp.append(row)

    max_length = 0
    end_index = 0

    for i in range(1,(len(string1) + 1)):
        for j in range(1,(len(string2) + 1)):

            if string1[i-1] == string2[j-1]:
                dp[i][j] = (dp[i-1][j-1] + 1)

                if dp[i][j] > max_length:
                    max_length = dp[i][j]
                    end_index = i

            else: 
                continue
    
    substring = string1[end_index - max_length:end_index]

    
    return{
        'dp':dp,
        'max_length':max_length,
        'end_index':end_index,
        'substring':substring
        }




string1 = (
    "abcdefghij" * 50  # Repeating pattern
    + "THISISTHELONGESTCOMMONSUBSTRING"  # The longest common substring
    + "klmnopqrst" * 50  # Another repeating pattern
)

string2 = (
    "uvwxyzabcd" * 50  # Different repeating pattern
    + "THISISTHELONGESTCOMMONSUBSTRING"  # The longest common substring
    + "efghijklmn" * 50  # Another different repeating pattern
)




result = common(string1, string2)

print(result['substring'])

THISISTHELONGESTCOMMONSUBSTRING

### Basic Exercises
1. Create a list of integers from 1 to 10. Perform:
   - Append `11`
   - Remove `5`
   - Reverse the list

In [5]:
# Exercise 1

integerslist = [1,2,3,4,5,6,7,8,9,10]

print(type(integerslist.append(11)))
print(integerslist)

integerslist.pop(4)
print(integerslist)

integerslist.reverse()
print(integerslist)

<class 'NoneType'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]
[11, 10, 9, 8, 7, 6, 4, 3, 2, 1]

### Intermediate Exercise
2. Write a function to return the second-largest element in a list.

In [6]:
# Write a function to return the second-largest element in a list.

from random import randint

def checker(list):
    num_list = []

    for x in list:
        if type(x) == (int or float):
            num_list.append(x)
    
    num_list.sort()

    print(f'The second largest number in this list is {num_list[-2]}')
    return 


def randomlist():

    l = []


    for i in range(0,1000):
        l.append(randint(0, 1293))
    return l


print(randomlist())
checker(randomlist())


# function, checks if elements are all numbers, otherwise it pops them. 
# then

[529, 26, 429, 764, 73, 803, 445, 492, 517, 989, 598, 917, 1217, 711, 566, 914, 799, 171, 1140, 144, 1100, 784, 783, 232, 257, 1168, 1030, 689, 851, 226, 172, 796, 310, 1126, 519, 177, 448, 836, 696, 1125, 1037, 742, 180, 930, 354, 591, 1229, 928, 1107, 14, 1148, 975, 4, 381, 170, 625, 130, 929, 903, 726, 656, 1157, 1194, 423, 595, 846, 657, 872, 653, 207, 16, 470, 1169, 965, 41, 198, 115, 1172, 59, 99, 433, 570, 877, 133, 736, 534, 1092, 142, 172, 955, 567, 744, 861, 944, 785, 600, 1194, 230, 374, 1270, 216, 1153, 1263, 45, 316, 1043, 567, 564, 447, 154, 712, 980, 294, 423, 1024, 755, 200, 308, 173, 847, 1052, 679, 939, 845, 90, 328, 449, 706, 501, 1000, 790, 576, 645, 592, 1029, 731, 905, 755, 838, 672, 612, 1252, 1279, 360, 581, 1006, 714, 1190, 271, 914, 674, 798, 20, 781, 864, 446, 312, 1131, 656, 480, 773, 754, 1256, 917, 935, 520, 1083, 172, 1101, 755, 1170, 187, 293, 68, 1260, 350, 1169, 1070, 471, 923, 81, 312, 804, 1099, 250, 734, 126, 348, 118, 246, 126, 1147, 1283, 502, 59, 40, 88, 833, 1039, 480, 777, 285, 533, 1195, 719, 145, 305, 569, 602, 309, 628, 243, 286, 234, 207, 846, 277, 297, 76, 1278, 446, 472, 462, 155, 581, 561, 836, 346, 200, 115, 1060, 1070, 662, 819, 769, 667, 30, 597, 877, 312, 757, 1231, 1012, 224, 845, 598, 1247, 447, 455, 1086, 396, 955, 270, 637, 523, 739, 944, 527, 1199, 719, 346, 565, 162, 941, 123, 885, 996, 321, 407, 325, 523, 877, 113, 810, 146, 1282, 855, 307, 150, 749, 841, 581, 356, 661, 444, 145, 914, 462, 219, 853, 888, 923, 336, 315, 649, 170, 1240, 903, 884, 999, 749, 87, 428, 753, 214, 91, 1111, 379, 1040, 39, 874, 1088, 193, 342, 793, 571, 1244, 313, 696, 523, 588, 645, 580, 77, 557, 391, 697, 1202, 433, 957, 873, 805, 1197, 526, 348, 820, 143, 233, 986, 493, 1097, 737, 643, 1005, 564, 221, 487, 586, 239, 68, 72, 317, 241, 459, 44, 978, 236, 660, 1051, 89, 9, 1, 788, 449, 913, 819, 509, 1102, 564, 297, 1071, 81, 678, 790, 37, 766, 830, 827, 1063, 883, 1227, 1191, 679, 1170, 1044, 712, 3, 898, 531, 679, 10, 1202, 47, 937, 216, 698, 1284, 734, 724, 441, 117, 26, 734, 904, 1065, 768, 223, 928, 865, 1103, 69, 170, 1210, 985, 1070, 464, 207, 546, 128, 1230, 574, 377, 771, 381, 599, 432, 1228, 1148, 639, 878, 893, 750, 1276, 258, 111, 847, 52, 1034, 242, 1229, 1152, 177, 129, 1188, 754, 713, 59, 1246, 5, 62, 1126, 1112, 964, 795, 722, 566, 880, 918, 132, 332, 757, 1122, 1062, 614, 283, 796, 786, 939, 883, 958, 523, 585, 148, 687, 947, 350, 597, 197, 257, 83, 63, 443, 557, 250, 1194, 1146, 1147, 511, 369, 325, 918, 753, 443, 1075, 1267, 219, 1234, 1137, 705, 526, 1211, 997, 143, 458, 936, 726, 468, 327, 1232, 1240, 756, 932, 367, 169, 398, 756, 800, 1144, 935, 1286, 608, 259, 190, 1008, 287, 0, 637, 431, 264, 401, 537, 466, 473, 991, 954, 122, 1048, 373, 1083, 658, 1011, 610, 646, 560, 321, 342, 673, 1202, 76, 1260, 1062, 198, 139, 1037, 1272, 1198, 1290, 120, 885, 105, 892, 191, 861, 790, 944, 918, 411, 1, 550, 809, 204, 978, 526, 1023, 632, 127, 590, 352, 1160, 391, 580, 746, 244, 769, 58, 1251, 715, 1, 397, 448, 1011, 442, 557, 1172, 83, 595, 1044, 62, 254, 646, 171, 1126, 69, 108, 946, 1280, 1190, 187, 634, 168, 611, 836, 751, 532, 1095, 737, 22, 1268, 102, 237, 1073, 630, 991, 246, 1260, 101, 222, 1001, 513, 891, 761, 945, 13, 445, 987, 576, 975, 942, 1034, 1097, 875, 806, 748, 486, 240, 1265, 85, 984, 397, 1126, 523, 691, 530, 682, 499, 201, 1058, 1029, 303, 962, 155, 204, 1148, 1025, 796, 465, 596, 362, 709, 939, 686, 686, 723, 1212, 186, 33, 1201, 524, 242, 626, 770, 948, 265, 188, 111, 20, 1025, 1224, 1248, 141, 483, 233, 680, 623, 1077, 1080, 114, 328, 954, 665, 563, 379, 489, 894, 1104, 94, 437, 356, 7, 550, 547, 108, 390, 1202, 616, 181, 254, 795, 676, 550, 998, 62, 779, 1249, 249, 1247, 103, 1194, 1293, 411, 1250, 850, 711, 362, 1164, 1242, 549, 403, 230, 69, 71, 126, 342, 696, 628, 892, 301, 1234, 480, 1114, 27, 95, 234, 78, 1146, 98, 290, 961, 498, 780, 50, 470, 473, 345, 1150, 1035, 671, 584, 1213, 272, 673, 604, 857, 236, 136, 758, 1192, 766, 804, 399, 39, 90, 31, 415, 410, 743, 941, 509, 644, 1258, 436, 273, 19, 602, 179, 949, 111, 81, 19, 976, 1128, 190, 626, 828, 1201, 793, 750, 1093, 76, 1126, 278, 399, 802, 529, 1118, 271, 186, 894, 164, 833, 189, 1231, 449, 917, 1278, 222, 485, 1127, 723, 81, 876, 966, 919, 125, 119, 1263, 117, 1127, 782, 1215, 806, 69, 675, 1146, 67, 1112, 770, 207, 526, 477, 1173, 1143, 775, 208, 1285, 1005, 495, 1154, 212, 782, 8, 214, 620, 955, 330, 1222, 83, 286, 1229, 473, 677, 1039, 545, 530, 803, 288, 722, 7, 539, 206, 253, 425, 297, 771, 711, 186, 116, 313, 585, 283, 354, 740, 1127, 128, 1178, 444, 345, 1284, 1234, 485, 1177, 991, 42, 85, 848, 67, 1067, 125, 1150, 1088, 294, 595, 439, 344, 1191, 124, 1091, 773, 847, 211, 205, 1074, 489, 1233, 146, 458, 905, 151, 411, 1255, 318, 491, 1172, 1108, 266, 1291, 366, 841, 563, 825, 1263, 521, 681, 653, 1211, 270, 722, 548, 686, 585, 1247, 814, 612, 859, 1152, 453, 823, 1046, 966, 525, 239, 394, 414, 925, 574, 110, 70, 973, 1272, 769, 965, 1252, 399, 53, 967, 327, 571, 142, 502, 393, 494, 269, 964, 325, 580, 1022, 444, 51, 886, 845, 1093, 1086, 637, 605, 230, 1214, 635, 659, 638, 958]
The second largest number in this list is 1292


### Advanced Challenge
3. Implement a function that rotates a list by `n` positions (e.g., `[1,2,3,4,5]` rotated by `2` becomes `[3,4,5,1,2]`).

In [7]:
'''Exercise 3. Implement a function that rotates a list by `n` positions (e.g., `[1,2,3,4,5]`
 rotated by `2` becomes `[3,4,5,1,2]`).'''




def shifter(shift, list):
    length = len(list)
    shifted_list = [0] * len(list)

    shift = shift % length #this ensures that any shifts that cause the minus index to go beyond gets looped, using the remainder.
    if shift <= len(list):
        for i in range(0,len(list)):
            new_index = i - (shift)
            shifted_list[new_index] = list[i]

    else: 
        pass


    return shifted_list


shifter(2,[1,2,3,4,5])

[3, 4, 5, 1, 2]

### Basic Exercises
1. Create a dictionary with three key-value pairs:
   - Name: "Alice"
   - Age: 25
   - Occupation: "Engineer"

In [8]:
# Exercise 1

d = {'Name':'Alice', 'Age':25,'Occupation':"Engineer"}

d['Occupation']

'Engineer'

### Intermediate Exercise
2. Write a function that merges two dictionaries. If keys overlap, sum their values.

In [9]:
# Exercise 2. Write a function that merges two dictionaries. If keys overlap, sum their values.


def merger(d1,d2):

    merged_d = {}

    for k,v in d1.items():
        if k in d2:
            if (type(d1[k]) == int) or (type(d1[k]) == float): #not Pythonic but oh well...
                merged_d[k] = d1[k] + d2[k]
            if type(d1[k]) == str:
                merged_d[k] = f'{d1[k]}' + ', ' + f'{d2[k]}'
            else:
                pass
        else:
            merged_d[k] = v

    for k,v in d2.items():
        if k in d1:
            pass
        else:
            merged_d[k] = v

    return merged_d



d1 = {'Name':'Alice', 'Age':25,'Occupation':"Engineer"}
d2 = {'Day':'Tuesday', 'Age':42,'Experience':5, 'Name':'Thomas', 'Occupation':'Teacher'}

merger(d1,d2)

{'Name': 'Alice, Thomas',
 'Age': 67,
 'Occupation': 'Engineer, Teacher',
 'Day': 'Tuesday',
 'Experience': 5}

### Advanced Challenge
3. Create a function that takes a list of words and returns a dictionary with the frequency count of each letter.

In [12]:
# Exercise 3. Create a function that takes a list of words and returns a dictionary with the frequency count of each letter.


def counter(lst):
    letter_dict = {}

    for w in range(0, len(lst)):
        

        word = lst.pop()
        word = word.lower()
        for l in word:
                if letter_dict.get(l) == None:
                     letter_dict[l] = 1
                else:
                      letter_dict[l] += 1
    return letter_dict


names = [
    "Alice", "Bob", "Charlie", "David", 
    "Eve", "Frank", "Grace", "Hannah", 
    "Isaac", "Jack","Katherine", "Liam",
    "Mia", "Nathan", "Olivia", "Peter", 
    "Quinn", "Rachel", "Samuel", 
    "Tina", "Zach", 'Rudra', "Henry", "Marco",
    'Zedra'


]

counter(names)

{'z': 2,
 'e': 13,
 'd': 4,
 'r': 11,
 'a': 23,
 'm': 4,
 'c': 8,
 'o': 3,
 'h': 8,
 'n': 10,
 'y': 1,
 'u': 3,
 't': 4,
 'i': 11,
 's': 2,
 'l': 6,
 'q': 1,
 'p': 1,
 'v': 3,
 'k': 3,
 'j': 1,
 'g': 1,
 'f': 1,
 'b': 2}